<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial - 3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
    
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-12">
                <h2>v-if directve</h2>
                <hr>
                <form @submit.prevent="submitHobbies()" >
                    <div class="form-group">
                      <label for="hobiesId">Hobies</label>
                      <input type="text" class="form-control" id="hobiesId" v-model="hobbiesInput" >
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <hr>
                <div class="card">
                    <div class="card-title">
                        <h3>Hobies list</h3>
                    </div>
                    <div class="card-body">
                        <p class="alert alert-warning" v-if="hobbies.length == 0 ">No Hobies is available</p>
                        <ul class="list-group" v-if="hobbies.length > 0">
                            <li class="list-group-item"  v-for="(value, key) in hobbies" ::key="key" >
                                {{ value }}
                            </li>
                        
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js" ></script>

    <style>
       
    </style>
</body>
</html>